<div align="center" *ngIf="album">
	<div class="card mb-6" style="max-width: 500px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<div style="height: 150px; width: 150px; overflow: hidden;">
				</div>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ creature.name }}</h5>
					<p class="card-text">{{ creature.description }}</p>
					<p class="card-text">
						<small class="text-muted">HP: {{ creature.hp }}</small>
                        <small class="text-muted">ATK: {{ creature.atk }}</small>
                        <small class="text-muted">DEF: {{ creature.def }}</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

